@font-face {
  font-family: 'Blackout Sunrise';
  src: url('blackout_sunrise-webfont.eot?#iefix') format('embedded-opentype'),
       url('blackout_sunrise-webfont.woff') format('woff'),
       url('blackout_sunrise-webfont.ttf') format('truetype'),
       url('blackout_sunrise-webfont.svg') format('svg');
}

html, body {
  background: #222;
  color: #ddd;
  font: normal 100% sans-serif;
}

a {
  color: #eee;
  text-decoration: none;
}

#everything {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 60em;
}

header {
  padding: 0.5em;
}

header ul {
  margin: 0;
}

header ul li {
  list-style-type: none;
  float: right;
  padding: 0 0.3em;
  font-size: 0.875em;
  font-weight: bold;
}

/* prototype boxes */
#everything div {
  clear: both;
  border: 1px dashed #444;
  margin-bottom: 0.5em;
  padding: 1em;
}

.clear {
  float: none;
  clear: both;
}
